<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>两列自适应布局</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
    .parent{
        overflow: hidden;  /*触发BFC*/
        zoom: 1;  /*触发IE6-浏览器的haslayout属性*/
    }
    /* 左侧右主 */
    .left{
        float: left;
        margin-right: 20px;
    }
    .right{
        overflow: hidden;
        zoom: 1;
    }
    /* 左主右侧 */
    /* .left{
        float: right;
        margin-left: 20px;
    }
    .right{
        overflow: hidden;
        zoom: 1;
    } */
    </style>
</head>
<body>
    <div class="parent" style="background-color: lightgrey;">
        <div class="left" style="background-color: lightblue;">
            <p>left</p>
            <p>left</p>
        </div>
        <div class="right"  style="background-color: lightgreen;">
            <p>right</p>
            <p>right</p>
        </div>        
    </div>
</body>
</html>